@import url('https://fonts.googleapis.com/css?family=Carter+One|Lato:400,900');


h1 {
  color:AliceBlue;
  font-family: "Carter One", sans-serif;
  font-weight:bold;
  max-width: 860px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

header {
  background-color:white;
  border-style: solid;
  border-color:lightskyblue;
  border-bottom: 20px;

}

main {
  background-color:white;
  border-style:solid;
  border-color: lightskyblue;
  margin:0 auto;
  padding: 10px;


}

body {
  font-family: "Lato",sans-serif;
  background-color: AliceBlue;
  max-width: 960px;
  margin: 0 auto;


}
nav {
  border-style: solid;
  border-color: lightskyblue;
  background-color: white;
  font-weight: bold;
  margin-bottom: 20px;
}

nav li{
display: inline-block;
margin-right: 20px;
}

a {
  text-decoration: none;
  color:lightskyblue;
}


a:hover {
  text-decoration: none;
  color: darkblue;
  transition: 1s ease-in;
}

a:active {
  text-decoration: none;
  color:grey;
}
h2 {
  font-family: "Carter One",sans-serif;
  color:AliceBlue;
}
.grid {
    display: grid;
    max-width: 850px;
    margin: 0 auto;
    grid-template-columns: repeat(2,1fr);
    border-right: 5px;
    border-left: 5px;

      }
#education #experience #activities #honors{
  grid-column: 1 / 2;
  font-family: "Carter One", sans-serif;
  color:lightskyblue;
  display:inline;

}
#segment{
  padding-bottom: 30px;
}
#package {
  padding-bottom: 30px;
}

img {
  border-color:#eee;
  border-style: solid;
}
