@import url('https://fonts.googleapis.com/css?family=Carter+One|Lato:400,900');

h1 {
  color:lightskyblue;
  font-family: "Carter One", sans-serif;
  font-weight:bold;
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

body {
  font-family: "Lato",sans-serif;
  background-color: #eee;
  max-width: 960px;
  margin: 0 auto;
}


nav {
  border-style: solid;
  border-color: lightskyblue;
  background-color: white;
  font-weight: bold;
  margin-bottom: 20px;
}


nav li{
display: inline-block;
margin-right: 20px;
}

nav a {
  text-decoration: none;
  color:lightskyblue;
}

nav :hover {
  text-decoration: none;
  color: darkblue;
}

nav :active {
  text-decoration: none;
  color:grey;
}

nav :default{
  text-decoration: none;
  color:lightskyblue;
}


h2 {
  font-family: "Carter One",sans-serif;
  color:lightskyblue;
}

.grid {
    display: grid;
    max-width: 850px;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
    border-right: 5px;
    border-left: 5px;
      }


section #contacts {
  grid-column: 1 / 2;
  font-family: "Carter One", sans-serif;
}

section #education{
  grid-column: 1 / 2;
  font-family: "Carter One", sans-serif;
  color:lightskyblue;
}

section #experience {
  grid-column: 1 / 2;
  font-family: "Carter One", sans-serif;
  color:lightskyblue;
}

section #activities {

  grid-column: 1 / 2;
  font-family: "Carter One", sans-serif;
  color:lightskyblue;
}

section #honors {

  grid-column: 1 / 2;
  font-family: "Carter One", sans-serif;
  color:lightskyblue;
}

section #segment{
  padding-bottom: 40px;
}

section #package {
  padding-bottom: 40px;
}
